<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name = "Practice1.SeleniumMavenProject.Listeners"/> 
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="Practice1.SeleniumMavenProject.RahulShettyGreenKart"/>
      <class name="Practice1.SeleniumMavenProject.Amazon_Action"/>
      <class name="Practice1.SeleniumMavenProject.AlertHandling"/>
      <class name="Practice1.SeleniumMavenProject.SwitchingWindows"/>
      <class name="Practice1.SeleniumMavenProject.ClickingOnLinks"/>
      <class name="Practice1.SeleniumMavenProject.SwitchingFrames"/>
     <!--   <class name="Practice1.SeleniumMavenProject.Tes2"/> -->
      <class name="Practice1.SeleniumMavenProject.SpiceJet"/>
      <class name="Practice1.SeleniumMavenProject.Tes3"/>
      <class name="Practice1.SeleniumMavenProject.Facebook"/>
      <class name="Practice1.SeleniumMavenProject.Tes1"/>
      <class name="Practice1.SeleniumMavenProject.MakeMyTrip"/>
      <class name="Practice1.SeleniumMavenProject.WebdriverSetup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
